<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav aria-label="breadcrumb">
  <style>
  .btn2 {


    display: inline-block;
    background-color:#28a745;
    color: rgb(255,255,255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 0px;
    opacity: 0.7;
}
  </style>

  <ol class="breadcrumb">
    <li ><a href='/landing' class="btn2"><i class="fa fa-home"></i>Home</a></li>


    <li ><a href="/projects" class="btn2">Projects</a></li>
    <% if (user.local.role != 'user') { %>
    <li  ><a href='/materials' class="btn2">Materials</a></li>

    <% } %>
    <% if (user.local.role == 'admin') { %>
      <li ><a href="/adminUserList" class="btn2">Users</a></li>
    <% } %>
    <li  ><a href='/reports' class="btn2">Reports</a></li>
    <li ><a href="/profile" class="btn2">Profile</a></li>

  </ol>
</nav>
