<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <% if (user.local.role == 'admin') { %>
      <li class="breadcrumb-item"><a href="/adminUserList">Users</a></li>
    <% } %>

  </ol>
</nav>
