<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#" style="font-family:'Source Sans Pro', sans-serif;font-size:30px;color:rgb(24,81,51);"><strong>RCBI </strong>3D<strong> </strong>Printing</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-outline-primary btn-sm" role="button" href="#" style="color:rgb(4,148,74);background-color:#ffffff;">My Projects</a><a class="btn btn-outline-primary btn-sm" role="button" href="#" style="color:rgb(4,148,74);background-color:#ffffff;margin-left:8px;">Account</a>
            <ul
                class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <i class="fa fa-user-o"></i><a href="#" class="login" style="font-family:'Source Sans Pro', sans-serif;font-size:16px;"><%=user.local.email%></a><button class="btn btn-primary" type="button" style="background-color:rgb(4,148,74);font-family:'Source Sans Pro', sans-serif;font-size:16px;">Create Project</button></span></div>
</div>
</nav>
