
<html>
<head>
  <style>
    .indent {
      margin-left: 40px;
      margin-bottom: 20px
    }

    .indentLeft {
      margin-left: 40px;
    }

    .formBorder {
      border-left: 6px solid darkgreen;
      background-color: lightgrey;
      padding-left: 20px
    }
  </style>
</head>
<body>
    <div>
<%- include partials/head.ejs %>
    </div>

    <div class="header-blue">
        <div class="container" style="padding:15px 15px;padding-top:30px;padding-bottom:200px;">
          <%- include partials/breadcrumb.ejs%>

            <div>

                <div class="card-group">
                    <div class="card">
                        <div class="card-header">
                          <div>
                            <h1 style="margin-bottom:20px;">Add a Material</h1>
                          </div>
                        </div>
                        <div class="card-body">

                                <form action="/addMaterial" method="post"  style="width:500px;height:600px;padding:0px;margin:0px;background-color:rgb(255,255,255);">
                                            <div>
                                              <h5 style="color:#00000;">Material Name</h5>

                                              <p style="color:#00000;">Please enter your requested date of completion for this project </p>

                                              <input type="text" class="form-control indent" name="matName" placeholder="Material Name" required>

                                            </div>
                                            <div>
                                              <h5 style="color:#00000;">Our Cost per Cubic Centimeter</h5>

                                              <p style="color:#00000;">Enter the cost to buy this materials per cubis centemeter </p>

                                              <input type="number" step=0.01 class="form-control indent" name="matOurCost" placeholder="Our Cost" required>

                                            </div>
                                            <div>
                                              <h5 style="color:#00000;">Selling Price</h5>

                                              <p style="color:#00000;">Enter the selling price of this material per Cubic Centimeter</p>

                                              <input type="number" step=0.01 class="form-control indent" name="matSellingPrice" placeholder="Selling Price" required>

                                            </div>
                                            <div>
                                              <h5 style="color:#00000;">Description</h5>

                                              <p style="color:#00000;">Enter a description on this material to help customers understand its strengths and weaknesses</p>

                                              <input type="text" class="form-control indent" name="matDescription" placeholder="Description of Material" required>

                                            </div>
                                <button class="btn btn-success" type="submit" style="background-color:rgb(4,148,74); width: 15%; margin: 0 auto;">Submit</button>
                              </form>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <% include partials/footer.ejs %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
</body>

</html>
